@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Paytone+One&family=Quicksand:wght@300..700&display=swap");
:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: #1c1c1c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #cf9048 !important;
  text-decoration: none !important;
  transition: all 3ms ease-in-out;
}
a:hover {
  color: #d8675f !important;
}

.page-content {
  position: relative;
  min-height: 100vh;
  margin-bottom: 25%;
  width: 100%;
}

slot {
  width: 100%;
}

body {
  background-color: #1c1c1c !important;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}
#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #1e1e1e; /* Ensure it's visible above content */
}

.footer-container {
  position: relative; /* Changed from absolute */
  width: 100%;
  margin-top: 10rem; /* Creates consistent space */
  z-index: 1;
  background: #cf9048 /* your footer color */;
}
.main-page-layout {
  padding-top: 60px; /* Adjust based on navbar height */
}

.home-about {
  padding-top: 5%;
  margin-bottom: 15rem;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
